@model IEnumerable<WYsystem.Models.w_user_paymoney>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Proprietor Center</title>
    <link rel="stylesheet" type="text/css" href="/Content/Owner/UserBack/Css/identify.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Owner/UserBack/Css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Owner/UserBack/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Owner/UserBack/Css/control_index.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/Owner/UserBack/Js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Content/Owner/UserBack/Js/haidao.offcial.general.js"></script>
    <script type="text/javascript" src="/Content/Owner/UserBack/Js/select.js"></script>
    <script type="text/javascript" src="/Content/Owner/UserBack/Js/haidao.validate.js"></script>
    <style>
        .tobar_title {
            text-align: center;
        }

        .img_Icon {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }

        .img_nav {
            width: 25px;
            height: 20px;
            vertical-align: middle;
        }

        .userInfoBox {
            margin-top: 20px;
            padding: 0 20px 0 20px;
        }

        .payTable {
            width: 100%;
        }
    </style>
</head>

<body id="body">
    <div class="view-topbar">
        <div class="topbar-console">
            <div class="tobar-head fl">
                <a href="/Home/Index" class="topbar-home-link topbar-btn text-center fl" title="Back"><span>Home</span></a>
            </div>
        </div>
        <div class="topbar-info">
            <ul style="float: right;">
                <li class="fl topbar-info-item">
                    <div class="dropdown">
                        <a href="#" class="topbar-btn" title="Logout">
                            <span class="fl text-normal"><img src="~/Content/img/head.jpg" alt="" style="width: 40px;height: 40px;border-radius: 5px;vertical-align: middle;">&nbsp;&nbsp;@((Session["User"] as WYsystem.Models.w_user ).user_name)</span>
                            <span class="icon-arrow-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Home/logout" style="text-align: center;">
                                    <h5>Logout<img src="/Content/Owner/UserBack/Images/Icon/close.png" alt="" class="img_Icon"></h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="view-body">
        <div class="view-sidebar">
            <div class="sidebar-content">
                <div class="sidebar-nav">
                    <div class="sidebar-title">
                        <a href="/BackUser/Index" style="text-align:center">
                            <span class="text-normal">My Profile</span>
                        </a>
                    </div>
                    <div class="sidebar-title">
                        <a href="#">
                            <span class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/boult-x.png" class="img_nav" /></span>
                            <span class="text-normal">Basic Information</span>
                        </a>
                    </div>
                    <ul class="sidebar-trans">
                        <li>
                            <a href="/BackUser/MyCenter">
                                <span class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/user1.png" class="img_Icon" /></span>
                                <span class="text-normal">Personal Information</span>
                            </a>
                        </li>
                        <li>
                            <a href="/BackUser/EditMyForm">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/icon/edit.png" class="img_Icon" /></b>
                                <span class="text-normal">Login Information</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-nav">
                    <div class="sidebar-title">
                        <a href="#">
                            <span class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/boult-x.png" class="img_nav" /></span>
                            <span class="text-normal">Property Charges</span>
                        </a>
                    </div>
                    <ul class="sidebar-trans">
                        <li>
                            <a href="/BackUser/MyCharge">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/plan.png" class="img_Icon" /></b>
                                <span class="text-normal">My Property Charges</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-nav">
                    <div class="sidebar-title">
                        <a href="#">
                            <span class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/boult-x.png" class="img_nav" /></span>
                            <span class="text-normal">Repair service</span>
                        </a>
                    </div>
                    <ul class="sidebar-trans">
                        <li>
                            <a href="/BackUser/AddRepair">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/upload.png" class="img_Icon" /></b>
                                <span class="text-normal">Initiate Repairs</span>
                            </a>
                        </li>
                        <li>
                            <a href="/BackUser/MyRepairRecord">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/plan3.png" class="img_Icon" /></b>
                                <span class="text-normal">Repair Record</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-nav">
                    <div class="sidebar-title">
                        <a href="#">
                            <span class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/boult-x.png" class="img_nav" /></span>
                            <span class="text-normal">Complaint Service</span>
                        </a>
                    </div>
                    <ul class="sidebar-trans">
                        <li>
                            <a href="/BackUser/AddComplaint">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/kefu.png" class="img_Icon" /></b>
                                <span class="text-normal">Initiate Complaints</span>
                            </a>
                        </li>
                        <li>
                            <a href="/BackUser/MyComplaintRecord">
                                <b class="sidebar-icon"><img src="/Content/Owner/UserBack/Images/Icon/plan2.png" class="img_Icon" /></b>
                                <span class="text-normal">Complaint Record</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="view-product">
            <div class="manage account-manage">
                <div class="manage-head">
                    <h6 class="layout padding-left manage-head-con">My Property Charges</h6>
                </div>
                <div class="userInfoBox">
                    <div class="searchBox row">
                        <div class="col-md-1"><h4>Search：</h4></div>
                        <div class="col-md-3"><input class="width-main input" type="text" name="keyword" value="" placeholder="Charge Type"></div>
                        <div class="col-md-1"><button type="button" class="btn btn-info" id="btnSearch">Search</button></div>
                    </div>

                    <table class="table table-hover payTable">
                        <tr>
                            <td>ID</td>
                            <td>Charge Type</td>
                            <td>Room Number</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Amonts Payable</td>
                            <td>Amonts Paid</td>
                            <td>Amonts Unpaid</td>
                            <td>Charging Time</td>
                            <td>Dealer</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.title</td>
                                <td>@item.w_house.b_id Building @item.w_house.d_id Block @item.w_house.d_room Room </td>
                                <td>@item.number</td>
                                <td>@item.price</td>
                                <td style="color:lightgreen">@item.should_pay</td>
                                <td style="color:deepskyblue">@item.realy_pay</td>
                                @if (item.should_pay == item.realy_pay)
                                {
                                    <td style="color:green">Already Paid</td>
                                }
                                else
                                {
                                    <td style="color:red">@item.no_pay (offline payment) </td>
                                }
                                <td>@item.start_pay_time</td>
                                <td>@item.w_admin.nickname</td>
                            </tr>
                        }
                        @if (ViewBag.ListCount == 0)
                        {
                            <tr>
                                <td><span>No Record</span></td>
                            </tr>
                        }
                    </table>

                    <!--paging-->
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-4">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 0; i < ViewBag.pageCount; i++)
                                    {
                                        <li><a href="#">@(i+1)</a></li>
                                    }
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".sidebar-title").click(function () {
            if ($(this).parent(".sidebar-nav").hasClass("sidebar-nav-fold")) {
                $(this).next().slideDown(200);
                $(this).parent(".sidebar-nav").removeClass("sidebar-nav-fold");
            } else {
                $(this).next().slideUp(200);
                $(this).parent(".sidebar-nav").addClass("sidebar-nav-fold");
            }
        });

        $('#btnSearch').click(function () {
            $.ajax({
                url: "/BackUser/MyCharge",
                type: 'Get',
                data: {
                    keyword: $('input[name="keyword"]').val()
                },
                success: function (data) {
                    $("#body").html(data);
                },
                error: function () {
                    alert('Error！');
                }
            })
        })
    </script>
</body>

</html>