@model WYsystem.Models.w_packing

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Packing</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.packing_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.packing_lot)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_lot)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.packing_lotID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_lotID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.packing_state)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_state)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.packing_type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.packing_area)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.packing_area)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.w_user.user_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.w_user.user_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
