@model WYsystem.Models.w_packing

@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="margin-bottom:20px">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="/Packing/Index" class="btn btn-info" style="margin-top:15px">Back</a>
                        </div>
                        <div class="col-md-11"><h2>Edit Parking Space</h2></div>
                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_name, "Parking", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.packing_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.packing_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_lot, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.packing_lot, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.packing_lot, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_lotID, "Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.packing_lotID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.packing_lotID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_state, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.packing_state == 1)
                                {
                                <select name="packing_state" class="form-control">
                                    <option value="1">Empty</option>
                                    <option value="0">Already Use</option>
                                </select>
                                }
                                else
                                {
                                    <select name="packing_state" class="form-control">
                                        <option value="0">Already Use</option>
                                        <option value="1">Empty</option>
                                    </select>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_type, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.packing_type == 1)
                                {
                                    <select name="packing_type" class="form-control">
                                        <option value="1">Ordinary</option>
                                        <option value="2">Shared</option>
                                    </select>
                                }
                                else
                                {
                            <select name="packing_type" class="form-control">
                                <option value="2">Shared</option>
                                <option value="1">Ordinary</option>
                            </select>
                                }


                                @Html.ValidationMessageFor(model => model.packing_type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_area, "面积", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.packing_area, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.packing_area, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.packing_uid, "业主", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("packing_uid", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.packing_uid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}